{% extends 'base.html'%} {% block title %} Add note {% endblock %} {% block
content %}
<div class="container mt-5 mb-5 px-10 ">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<form method="POST" action="/add-note">
				<div class="form-group">
					<label for="title">Title</label>
					<input
						type="text"
						class="form-control"
						id="title"
						aria-describedby="noteTitle"
						placeholder="Enter note title"
						name="title"
						required
					/>
					<small id="noteTitle" class="form-text text-muted"
						>E.g My new room.</small
					>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea
						id="description"
						name="description"
						class="form-control"
						placeholder="Some description"
						aria-describedby="description"
						required
					>
					</textarea>
					<small id="description" class="form-text text-muted"
						>E.g My new room number is 1234.</small
					>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<table>
					<tr>
						<th>Title</th>
						<th>Date</th>
					</tr>
					{% for note in notes %}
					<tr>
						<td><a href=""{{ url_for('get_note', note_id=note.id) }}">{{ note.title }}</a></td>
						<td>{{ note.date }}</td>
						<td><a href=""{{ url_for('update_note', note_id=note.id) }}">Edit</a></td>
						<td>
							<form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
								<input type="submit" value="Delete">
							</form>
						</td>
					</tr>
					{% endfor %}
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
